@{ ViewBag.Title = "iniciaPago";
    Layout = "";
}

<!DOCTYPE html>

<html>

<head>
    <title>Portal de pagos KOBER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>

</head>

<body style="background-color:#e0e0e0">
    <div class=" container">


        <div class="row mt-4">
            <div class="col-md-12 text-center" style="background-color: #004072">
                <img src="https://kober.com.mx/images/logo-white.svg" width="50%" />
                <h2 id="lblTitulo" style="color:#ffffff">Portal de Pagos</h2>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4" style="margin-top: 50px;">
                <div class="row" style="background-color: #fff; border-radius:15px;">
                    <div class="table-responsive">
                        <h4 class="text-center" style="margin-top: 15px;">Resumen de Compra</h4>
                        <hr />
                        <table class="table cart">
                            <tbody>
                                <tr>
                                    <td># Pedido:</td>
                                    <td align="center" width="50%"><b>@ViewBag.venta.ID</b></td>
                                </tr>
                                <tr>
                                    <td>Sucursal:</td>
                                    <td align="center" width="50%"><b>@ViewBag.sucursal.nombre</b></td>
                                </tr>
                                <tr>
                                    <td>Cliente:</td>
                                    <td align="center" width="50%"><b>@ViewBag.venta.Nombre</b></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td align="center" width="50%"><b>@ViewBag.venta.eMail1</b></td>
                                </tr>
                                <tr>
                                    <td>Telefonos:</td>
                                    <td align="center" width="50%"><b>@ViewBag.venta.Telefonos</b></td>
                                </tr>
                                <tr>
                                    <td>RFC:</td>
                                    <td align="center" width="50%"><b>@ViewBag.venta.RFC</b></td>
                                </tr>
                                <tr>
                                    <td>Total a cobrar:</td>
                                    <td align="center" width="50%"><b style="color:red;">@ViewBag.venta.VentaTotal (@ViewBag.venta.MonedaV33)</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
             <div class="col-md-1">
             </div>

            <div class="col-md-7 pull-right" style="margin-top: 50px;">
                <div class="row" style="background-color: #fff; border-radius:15px;">
                    <div class="table-responsive">
                        <h4 class="text-center" style="margin-top: 15px;">Pasarela de Pagos</h4>
                        <hr />

                        <div class="row">
                            <div id="details" class="form-group">
                                <input id="cardholder-name" type="text" placeholder="NOMBRE DE TITULAR DE TARJETA" class="form-control">
                                <br />
                                <!-- placeholder for Elements -->
                                <form id="payment-form" class="mt-4">
                                    <div class="col-md-12">
                                        <div id="card-element"></div>
                                    </div>
                                    <br />

                                    <button class="btn btn-outline-primary btn-lg btn-block col-md-12" id="card-button">
                                        Realizar Pago
                                    </button>
                                </form>
                            </div>


                            <div id="plans" hidden>
                                <h4>Planes Disponibles con esta tarjeta</h4>
                                <br />

                                <form id="installment-plan-form">
                                    <label><input id="immediate-plan" type="radio" name="installment_plan" value="-1" /><br />  Una sola Excibición</label>
                                    <input id="payment-intent-id" type="hidden" />
                                </form>
                                <br />

                                <button class="btn btn-outline-primary btn-lg btn-block col-md-12" id="confirm-button"> Confirmar Pago </button>


                            </div>


                            <div id="result" hidden>
                                <h3 class="text-center" id="status-message"></h3>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <br /><br />
            </div>      

        </div>




    </div>

    <!--
    <form action="/Payouts/CreateCheckoutSession" method="POST">
        <button type="submit">Checkout</button>
    </form>
        -->
</body>

</html>


<script>
    var stripe = Stripe("@ViewBag.sucursal.llavePublica ");
    var elements = stripe.elements();
    var style = {
        base: {
            border: "thick solid #0000FF",
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '24px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };
    var cardElement = elements.create('card', {
        style: style
    });
   // var cardElement = elements.create('card');
    cardElement.mount('#card-element');

    //Paso 2
    let cardholderName = document.getElementById('cardholder-name');
    let form = document.getElementById('payment-form');
    let idPedido = @ViewBag.pedido;

    form.addEventListener('submit', function (ev) {
        ev.preventDefault();
        stripe.createPaymentMethod({
            type: 'card',
            card: cardElement,
            billing_details: {
                name: cardholderName.value
            }
        }).then(function (result) {
            if (result.error) {
                console.log(result);
            } else {
                // Otherwise send paymentMethod.id to your server (see Step 2)
                fetch('/Payouts/Datos', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        PaymentMethodId: result.paymentMethod.id,
                        Pedido: idPedido

                    })
                }).then(function (result) {
                    // Handle server response (see Step 3)
                    console.log(result);
                    result.json().then(function (json) {
                        handleInstallmentPlans(json);
                    })
                });
            }
        });
    });

    //paso 3
    const selectPlanForm = document.getElementById('installment-plan-form');
    let availablePlans = [];

    const handleInstallmentPlans = async (response) => {
        if (response.error) {
            console.log(response);
            // Show error from server on payment form
        } else {
            // Store the payment intent ID.
            document.getElementById('payment-intent-id').value = response.intent_id;
            availablePlans = response.available_plans;

            // Show available installment options
            availablePlans.forEach((plan, idx) => {
                if (idx < 2) {

                    const newInput = document.getElementById('immediate-plan').cloneNode();
                    newInput.setAttribute('value', idx);
                    newInput.setAttribute('id', '');
                    const label = document.createElement('label');
                    label.appendChild(newInput);
                    label.appendChild(
                        document.createTextNode(`${plan.Count} meses`),
                    );

                    selectPlanForm.appendChild(label);
                }
            });

            document.getElementById('details').hidden = true;
            document.getElementById('plans').hidden = false;
        }
    };

    //Paso 4
    const confirmButton = document.getElementById('confirm-button');

    confirmButton.addEventListener('click', async (ev) => {
        const selectedPlanIdx = selectPlanForm.installment_plan.value;
        const selectedPlan = availablePlans[selectedPlanIdx];
        const intentId = document.getElementById('payment-intent-id').value;
        const response = await fetch('/Payouts/Confirma', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                PaymentIntentId: intentId,
                SelectedPlan: selectedPlan,
                Pedido: idPedido
            }),
        });

        const responseJson = await response.json();

        // Show success / error response.
        document.getElementById('plans').hidden = true;
        document.getElementById('result').hidden = false;

        var message;
        if (responseJson.status === "succeeded" && selectedPlan !== undefined) {
            console.log(selectedPlan);
            message = `Exito! el pago se difirió a : ${selectedPlan.Count
                } meses sin intereses`;
        } else if (responseJson.status === "succeeded") {
            message = "Exito! el pago se realizó a una sola excibición!";
        } else {
            message = "Uh oh! Ha ocurrido un error en el sistema :(";
        }

        document.getElementById("lblTitulo").className = 'hidden';
        document.getElementById("status-message").innerText = message;
    });
</script>